---
title: Learning Resource Updates
description: Below are recent documentation and Brightcove Academy course updates.
parent: home
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <p><a href="/doc-updates-index.html">Index of all documentation updates</a></p>
  <p><a href="/product-updates.html">Product Release Notes</a></p>
  <aside class="bcls-aside bcls-aside--tip language-editable">If you would like be sent an email whenever this page changes, please see the <a href="/distill-setup.html">Setup Automatic Email on Documentation Updates</a> document.</aside> 
  {% for item in site.data.s-site-assets-data.doc-updates %}
  <section class="bcls-section">
    <h2 id="{{ item.date | replace: " -", "_" }}">{{ item.date }}</h2>
    {% for type in item.types %}
      <h3>{{ type.type }}</h3>
      {% if type.docs %}
        <ul style="list-style: none;">
          {% for doc in type.docs %}
            {% if doc.Status == "Released" %}
            <li><strong>Title:</strong> {{ doc.Title }}</li>
            <li>
              <strong>Description:</strong> {{ doc.Description }}
              {% if doc.Product_Update == 'true' %}
                - <span style="color:#d33e00;font-weight: bold;">New Product Feature!</span>
              {% endif %}
            </li>
            {% if type.type == 'New Brightcove Academy Courses' %}
            <li><strong>Customer Link:</strong> <a href="{{ doc.Customer_Link }}">{{ doc.Customer_Link }}</a></li>
            <li><strong>Employee Link:</strong> <a href="{{ doc.Employee_Link }}">{{ doc.Employee_Link }}</a></li>
            {% else %}
            <li><strong>Link:</strong> <a href="{{ doc.Link }}">{{ doc.Link }}</a></li>
            {% endif %}
            <li><strong>Product:</strong> {{ doc.Product }}</li>
            <li style="margin-bottom: 1em;"><strong>Product Area:</strong> {{ doc.Product_area }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <ul style="list-style: none;">
          <li style="margin-bottom: 1em;">No {{ type.type }}</li>
        </ul>
      {% endif %}
    {% endfor %}
  </section>
  {% endfor %}
</article>